#tab {
    overflow: hidden;
}

#tab li {
    margin-right: 10px;
    list-style: none;
    float: left;
    width: 100px;
    text-align: center;
    background-color: #e5f0ff;
    border: 1px solid #e0e0e0;
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#tab li a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    line-height: 40px;
    font-weight: 700;
}

#tab li.active {
    background-color: #fff;
    border-bottom: none;
}

#content {
    position: relative;
    height: calc(100% - 50px);
}

#content>div {
    position: absolute;
    padding: 20px;
    width: 100%;
    height: calc(100% - 50px);
    display: none;
    background-color: #fff;
    box-sizing: border-box;
}

#content #order_all {
    display: block;
}

#content table {
    width: 100%;
    text-align: center;
}

#content table,
td {
    border: 1px solid #e6e6e6;
    border-collapse: collapse;
}

#content table thead tr {
    background-color: #e5f0ff;
}

#content table th {
    padding: 5px 0;
}

#content table td:first-child {
    color: #ec6c32;
}

#content table a {
    color: #5d96e3;
}

.order_search {
    padding: 20px 0;
    margin-bottom: 20px;
    background-color: #f6f6f6;
    border-radius: 7px;
}

.order_search span {
    margin-left: 20px;
}

.order_search span input {
    width: 200px;
    height: 26px;
    border: none;
    border: 1px solid #d9d9d9;
    border-radius: 7px;
    outline: none;
    box-shadow: 0 0 2px #ccc;
}

.order_search button {
    padding: 5px 20px;
    color: #fff;
    border: none;
    background-color: #ec6c32;
    border-radius: 7px;
    outline: none;
    cursor: pointer;
}
.order_search button:hover{
    background-color: #f58d5d;
}