.page {
    width: 100%;
    margin: 30px auto;
    height: 34px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.pages {
    /* width: 80%; */
    display: block;
    height: 34px;
    position: relative;
    text-align: center;
    overflow: hidden;
}

.all_data {
    color: #6699FF;
}

.all_pages {
    color: #6699FF;
}

.page_left {
    width: 165px;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    text-align: center;
}

.page_footer {
    width: 180px;
    height: 35px;
    position: relative;
    margin-left: 24px;
}

.page_cont>div {
    display: block;
    position: relative;
    float: left;
    line-height: 32px;
    text-align: center;
}

.hometrailer {
    width: 64px;
    height: 32px;
    background: rgba(255, 255, 255, 1);
    border-radius: 3px;
    border: #E3E3E3 1px solid;
    cursor: pointer;
}

.updown {
    width: 84px;
    height: 32px;
    background: rgba(255, 255, 255, 1);
    border-radius: 3px;
    border: #E3E3E3 1px solid;
    cursor: pointer;
}

.page_view {
    height: 32px;
    position: relative;
}

.page_view ul {
    overflow: hidden;
}
.li {
    width: 32px;
    height: 32px;
    background: rgba(255, 255, 255, 1);
    border-radius: 3px;
    color: #666;
    float: left;
    list-style: none;
    margin-left: 8px;
    border: #E3E3E3 1px solid;
    cursor: pointer;
}

.pageActive {
    background: #ec6c32!important;
    color: #fff !important;
}

.pages>div {
    display: block;
    float: left;
    line-height: 32px;
    text-align: center;
}

.page_input {
    display: inline-block;
    width: 64px;
    height: 30px;
    background: rgba(255, 255, 255, 1);
    border-radius: 3px;
    border: #E3E3E3 1px solid;
    outline: none;
    font-size: 14px;
    text-align: center;
}

.page_btn {
    display: inline-block;
    width: 84px;
    height: 32px;
    background: #ec6c32;
    border-radius: 3px;
    color: #fff;
    line-height: 32px;
    text-align: center;
    font-size: 14px;
}

.page_home {
    margin-right: 8px;
}

.page_trailer {
    margin-left: 8px;
}

.page_down {
    margin-left: 8px;
}

.page_down_two {
    margin-left: 8px;
}